html, body {
    font-family: 'Open Sans', Arial,sans-serif;
    font-size: 1vw;
}

nav {
    float: left; 
    width: 40vw;
    height: 100%;
    position: fixed; 
    border-right: 1px solid black;
}

nav header {
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 3rem;
    border-bottom: 1px solid black;
}

nav li {
    width: 100%;
    height: 3.5rem;
    text-align: center;
    line-height: 3.5rem;
    text-decoration: none;
    color: black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

nav li:hover {
    background-color: lightgrey;
    transition: background-color 1s ease-out;
}


nav p {
    float: left; 
    margin-left: 2vw;
    font-size: 1.5rem;
}

main {
    margin-left: 40vw;
    line-height: 2.5rem;
    width: 50vw;
}

section {
    padding: 2vw;
}

main h2 {
    font-size: 2.4rem;
    text-decoration: underline;
}

main article {
    margin: 2rem;
}

article li {
    margin-left: 2.5rem;
}

pre {
    border: 1px solid black;
    background-color: lightgrey;
    font-family: monospace;
    margin-bottom: 3rem;
    display: inline-block;
    padding-right: 10vw;
    padding-top: 2rem;
}





